
@{
    ViewData["Title"] = "Edit Post";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="~/css/modalStyle.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/Admin/Edit/edit.css" asp-append-version="true" />

    <script src="~/js/helpers.js" asp-append-version="true"></script>
    <script src="~/js/Tools/postParser.js" asp-append-version="true"></script>
    <script src="~/js/Admin/Edit/store.js" asp-append-version="true"></script>
    <script src="~/js/Admin/Edit/app.js" asp-append-version="true"></script>
}

<script type="text/javascript">
        var model = @Json.Serialize(@Model);
</script>

<template v-if="postVersion">
    <div class="row">
        <div class="col-sm">
            <h1>Edit Post</h1>
            <hr />
            <table>
                <tr>
                    <td><h5 class="d-inline">Title: </h5></td>
                    <td><input type="text" v-model="postVersion.title" /></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary">Update Post</button></td>
                </tr>
            </table>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h4>Attachments</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="file in post.externalFiles">
                        <td>{{file.fileName}}</td>
                        <td><button @@click="removeFile(file.fileName)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <input type="file" id="file" />
            <button class="btn btn-primary" @@click="uploadFile">Upload</button>
        </div>
        <div class="col-sm">
            <h4>Tags</h4>
            <hr />
            <ul>
                <li v-for="tag in post.postTags">{{tag}} <button @@click="deletePostTag(tag)">Delete</button></li>
            </ul>
            <hr />
            <select v-model="selectedTag.name">
                <option v-for="tag in allTags" :value="tag">{{tag}}</option>
            </select>
            <button @@click="addPostTag">Add tag to post</button>
            <br />
            <input type="text" v-model="newTag.name" />
            <button @@click="createTag">Create Tag</button>
        </div>
    </div>

    <!--<pre v-highlightjs><code class="cpp">
    #include &lt;iostream&gt;

    int main() {
        auto a = 0;
        auto b = 3;
        std::cout << a << std::endl;
    }
    </code></pre>
    -->
    <hr />

</template>

@section Secondary {
    <div class="row" style="margin-left:0px; margin-right:0px;" v-if="postVersion">
        <div class="col-sm half-box" >
            <textarea v-model="postVersion.rawText"
                      style="width:100%; min-height:300px;"
                      v-bind:style="{ zoom: scaleWidth, width: '100%' }"
                      @@input="resetSave">
            </textarea>
            <label v-if="saved">Saved</label>
            <label v-else>Not Saved</label>
        </div>
        <div id="parsed-container" class="col-sm half-box" style="background-color: #F0F0F0;">
            <div v-html="parsedText" style="word-wrap: break-word;" v-bind:style="{ zoom: scaleWidth, width: '100%'}"></div>
        </div>
    </div>
    
}
