
@{
    ViewData["Title"] = "Admin";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="~/css/modalStyle.css" asp-append-version="true">

    <script src="~/js/helpers.js" asp-append-version="true"></script>
    <script src="~/js/Admin/Index/store.js" asp-append-version="true"></script>
    <script src="~/js/Admin/Index/createPostModal.js" asp-append-version="true"></script>
    <script src="~/js/Admin/Index/editPostModal.js" asp-append-version="true"></script>
    <script src="~/js/Admin/Index/app.js" asp-append-version="true"></script>
}

<script type="text/javascript">
        var model = @Json.Serialize(@Model)
</script>

<div id="app">
    <template v-if="posts">
        <div class="row">
            <div class="col-sm">
                <h1>Posts</h1>
                <hr />
                <button class="btn btn-primary" @@click="toggleCreatePostVisible">Create Post</button>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Published</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="post in posts">
                            <td><label>{{getDateFromJSON(post.addedTime)}}</label></td>
                            <th><label>{{post.currentVersion.title}}</label></th>
                            <template v-if="post.published">
                                <td><label>Published</label></td>
                            </template>
                            <template v-else>
                                <td><label>Not Published</label></td>
                            </template>
                            <td><button class="btn btn-primary" @@click="toggleEditPostVisible(post.postId)">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </template>
    <create-post-modal v-if="createPostVisible"></create-post-modal>
    <edit-post-modal v-if="editPostVisible"></edit-post-modal>
</div>
