
@{
    ViewData["Title"] = "About";
}

<h1>About me</h1>
My name is Andreas, when programming i go by the handle Sh1nku. I have a bachelor's degree in computer engineering and work as a back-end developer for <a href="https://utdanning.no">utdanning.no</a>, a norwegian government website. 
<h3>Background</h3>
I come from a small city in northern Norway and have been programming since around 2011. I got interested in programming out of a desire to create games, although these days I am more interested game engine development than actual games. My first language was c++, which I learnt from the book "C++ for Dummies" given to me by my Uncle, also a computer engineer, when asked how I would go about developing games.