@{
    ViewData["Title"] = Model.CurrentVersion.Title;
}

@section Head {
    <link rel="stylesheet" type="text/css" href="~/css/postStyle.css" asp-append-version="true" />

    <script src="~/js/helpers.js" asp-append-version="true"></script>
    <script src="~/js/Tools/postParser.js" asp-append-version="true"></script>
    <script src="~/js/Post/Index/app.js" asp-append-version="true"></script>
    <script src="~/js/Post/Index/store.js" asp-append-version="true"></script>
}

<script type="text/javascript">
    var model = @Json.Serialize(@Model);
</script>


<div class="row" v-if="post">
    <div class="col-sm post">
        <h2>{{post.currentVersion.title}}</h2>
        <div style="margin-left: 0px; margin-right: 0px">
            <label>Posted on {{post.firstPublished.substr(0, 10)}}</label> |
            <label>Last updated {{post.currentVersion.postedDate.substr(0, 10)}}</label> |
            <label>Tags: </label>
            <a v-for="tag in post.postTags" :href="'/?tag='+tag">{{tag}}</a>
        </div>
        <hr />
        <div v-html="parsedText"></div>
        <template v-if="references && references.length > 0">
            <hr />
            <table>
                <tbody>
                    <tr v-for="reference in references">
                        <td valign="top"><a :href="'#ref_'+reference.count+'_top'"><strong>[{{reference.count}}]</strong></a></td>
                        <td :id="'ref_'+reference.count+'_bot'">{{reference.text}}</td>
                    </tr>
                </tbody>
            </table>
        </template>
    </div>
</div>