{
  "ConnectionStrings": {
    "DefaultConnection": "server=SERVER;database=DATABASE;user=USER;password=PASSWORD"
  },
  "TokenSettings": {
    "SecretKey": "SECRETKEYHERE"
  },
  "StandardUser": {
    "Email": "emailhere",
    "Username": "usernamehere",
    "Password": "passwordhere"
  }
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}
