[Unit]
Description=Start ASP.NET Core service
After=mysqld.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=5
User=USER_HERE
WorkingDirectory=WORKING_DIR_HERE
ExecStart=/usr/bin/dotnet iNOBStudios.dll
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target