@{
    ViewData["Title"] = "Home Page";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="~/css/postStyle.css" asp-append-version="true" />

    <script src="~/js/helpers.js" asp-append-version="true"></script>
    <script src="~/js/Tools/postParser.js" asp-append-version="true"></script>
    <script src="~/js/Home/Index/store.js" asp-append-version="true"></script>
    <script src="~/js/Home/Index/app.js" asp-append-version="true"></script>
}

<script type="text/javascript">
    var model = @Json.Serialize(@Model);
</script>

<template v-if="posts && posts.length > 0">
    <div class="row" v-for="post in posts">
        <div class="col-sm">
            <a class="post-title" :href="'Post/'+post.postId+'/'+post.currentVersion.title"><h2>{{post.currentVersion.title}}</h2></a>
            <label>Posted on {{post.firstPublished.substr(0,10)}} | </label>
            <label>Tags:</label> 
            <template v-if="post.postTags.length > 0">
                <a :href="'?limit='+limit+'&offset='+offset+'&tag='+tag" v-for="tag in post.postTags">{{tag}}</a>
            </template>
            <template v-else>
                Not Tagged
            </template>
            <hr />
            <div class="post" v-html="parsePost(post.currentVersion.previewText)"></div>
            <a :href="'Post/'+post.postId+'/'+post.currentVersion.title">Continue reading</a>
            <hr />
        </div>
    </div>
</template>
<template v-else>
    <div class="row">
        <div class="col-sm">
            <h4>No posts found</h4>
            <a href="/">Go back to homepage</a>
        </div>
    </div>
</template>