.post {

}

.post h1 {
    text-align: center;
}

.post-title {
    color: black;
}

.post-title:hover {
    color: black;
    text-decoration: underline;
}

.post-title:visited {
    color: black;
    text-decoration: none;
}

.post img {
    width: 100%;
    border: 2px solid lightgray;
}

.img-text {
    background-color: lightgray;
}

.post pre.code {
    margin-bottom: 0px;
    background-color: white;
    border: 2px solid lightgray;
}

pre code.hljs {
    background-color: initial;
    display: inline;
    padding:0;
}

.post .inline {
    display: inline;
}